<section id="edit" class="text-light">
  <div class="container">
    <div class="row">
      <div class="col col-md-8 offset-md-2">
        <h1 class="text-center">Éditer mon annonce</h1>

        <!-- Errors partial -->
        <%= render 'ads/error_messages' %>
        <!-- Zone du formulaire -->
        <%= form_tag url_for(action: 'update'), method: "patch", class: "mt-4" do %>

        <%= label_tag 'Intitulé du poste :', nil, class: "font-weight-bold" %>
        <%= text_field_tag 'title', @ad.title, class: "form-control" %>

        <%= label_tag 'Localisation :', nil, class: "font-weight-bold" %>
        <%= text_field_tag 'location', @ad.location, class: "form-control" %>

        <%= label_tag 'Description de l\'entreprise et du poste :', nil, class: "font-weight-bold mt-3" %>
        <%= text_area_tag 'job_description', @ad.job_description, placeholder: "50 caractères minimum", class: "form-control"  %>

        <%= label_tag 'Description du profil recherché :', nil, class: "font-weight-bold mt-3" %>
        <%= text_area_tag 'profile_description', @ad.profile_description, placeholder: "50 caractères minimum", class: "form-control"  %>

        <%= label_tag 'Type de contrat :', nil, class: "font-weight-bold mt-3" %>
        <%= select_tag 'contract',options_for_select(["CDI", "CDD", "Freelance", "Stage", "Alternance"]), class: "form-control" %>

        <%= label_tag 'Expérience souhaitée :', nil, class: "font-weight-bold mt-3" %>
        <%= select_tag 'experience',options_for_select(["Très junior", "Junior", "Senior"]), class: "form-control" %>

        <%= label_tag 'Rémunération :', nil, class: "font-weight-bold mt-3" %>
        <%= text_field_tag 'salary', @ad.salary, class: "form-control" %>

        <%= label_tag 'Email de réception des candidatures :', nil, class: "font-weight-bold mt-3" %>
        <%= text_field_tag 'email', @ad.email, class: "form-control" %>

        <%= submit_tag "Modifier l'annonce", class: "btn btn-primary mt-2 mb-1" %>
        <% end %>

        <%= link_to "Supprimer l'annonce", ad_path(@ad), method: :delete, data: { confirm: 'Êtes-vous sûr(e) ?' }, class: "btn btn-danger mt-2 mb-1" %>
    </div>
</div>
</div>
</section>